random_streams/
random_numbers_seed_*.csv
stream_in_long_*.rds
mass_sim_*/
frames/
frames_*/
mass_sim_results_full_range_rnd/
mass_sim_results_full_range_LHS/
mass_sim_results/
mass_sim_results_full_range/
random_numbers_seed_42.txt
.Rproj.user
.DS_Store
